body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 400px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .at-viewport {
        left: 0;
        padding-right: 10px;
    }
}

.at-wrap {
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
    background: #f7f7f7;
}

.at-content {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
}

.at-viewport {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    bottom: 0;
    padding-right: 20px;
}

/** Overlay **/

.at-overlay {
    /** Fill Parent */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;

    /* Blurry dark shade */
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.5);

    /** center content */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.at-overlay-content {
    /* white box with drop-shadow */
    margin-top: 20px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.header > div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.header > div > * {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    margin: 0 3px;
}

.header .btn {
    color: #fff;
    border-radius: 0;
    font-size: 16px;
}
.header .btn.disabled {
    cursor: progress;
    opacity: 0.5;
}

.header a.active {
    background: #85beff67;
    text-decoration: none;
}

.header .btn i {
    vertical-align: top;
}

.header select {
    border: none;
    height: 40px;
    background: #85beff00;
    padding: 4px 10px;
    color: #fff;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    cursor: pointer;
}

.header select option {
    background: #1a1a1a;
    color: #fff;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.at-song-title {
    font-weight: bold;
}

.at-cursor-bar {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
}

.at-selection div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
}

.at-cursor-beat {
    /* Defines the beat cursor */
    background: rgba(64, 64, 255, 0.75);
    width: 3px;
}

.at-highlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
}

/* Header styles */
.header {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1a1a1ae3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transition: top 0.3s;
    z-index: 1000;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    left: -250px;
    top: 60px;
    bottom: 0;
    width: 250px;
    color: #fff;
    background-color: #1a1a1ae3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s;
    z-index: 999;
}

.sidebar-content {
    padding: 20px;
}

/* Close (X) button styles */
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover {
    color: #85beff; /* Change color on hover for better UX */
}

#song-selector {
    color: #ffffff;
}

#upload-form {
    position: absolute;
    right: 7%;
    bottom: 2%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar h3 {
    margin-top: 0;
}

/* Icon styles */
.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    padding: 10px;
}

/* Button inside header */
.header .btn {
    color: white;
    display: inline-block;
}

/* Animation to show header */
.header:hover {
    top: 0;
}

/* Animation to show sidebar */
.sidebar-open {
    left: 0;
}

/* Prevent header from collapsing if sidebar is open */
.header.sticky {
    top: 0 !important;
}
