body {
    min-width: 400px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .at-viewport {
        left: 0;
        padding-right: 10px;
    }
}

.at-wrap {
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
}

.at-content {
    display: none;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
}

.at-viewport {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    bottom: 0;
    padding-right: 20px;
    overflow-y: scroll;
}

/** Overlay **/
.at-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.spinner {
    border: 8px solid #dddddd;
    border-top: 8px solid #85beff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn:hover {
    background: #ffffff10;
    border-radius: 4px;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.at-song-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    padding: 10px;
    background: #1a1a1a;
}

/* Header styles with */
.header {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1a1a1ae3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transition: top 0.3s;
    z-index: 10000;
}

.close-btn:hover {
    color: #85beff; /* Change color on hover for better UX */
}

#song-selector {
    color: #ffffff;
}

.btn {
    cursor: pointer;
    padding: 10px;
}

.header a.active {
    background: #ffffff10;
    text-decoration: none;
    border-bottom: #85beff 2px solid;
    border-radius: 4px;
}

.header a.sidebar-open {
    background: #ffffff10;
    text-decoration: none;
    border-radius: 4px;
}

.header a.dot-menu-open {
    background: #ffffff10;
    text-decoration: none;
    border-radius: 4px;
}

select {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    background: #85beff00;
    padding: 4px 10px;
    border-radius: 4px;
    color: #fff;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    cursor: pointer;
}

select:hover {
    background: #ffffff10;
}

option {
    background: #1a1a1ae3;
}

option:focus {
    background-color: #ffffff10;
}

.header .btn {
    color: white;
    display: inline-block;
    text-align: center;
    margin: 0 3px;
}

.header-dot-menu .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    text-align: center;
}

.header-dot-menu .btn .icon {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
}

.header:hover {
    top: 0;
}

.header.sticky {
    top: 0 !important;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content-left-side,
.header-content-middle,
.header-content-right-side {
    display: flex;
    align-items: center;
}

.header-content-left-side {
    justify-content: flex-start;
    width: 33%;
}

.header-content-middle {
    justify-content: center;
}

.header-content-right-side {
    justify-content: flex-end;
    width: 33%;
}

/* Center the entire start content */
.start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.start-page-logo {
    max-width: 500px;
    margin-bottom: 20px;
}

/* Styling for the song list */
#song-list-start-page {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

/* Styling individual song items */
#song-list-start-page li {
    border: 2px dashed #9ca0a3;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    justify-content: space-between;
    transition: box-shadow 0.1s ease;
}

/* Hover effect for song items */
#song-list-start-page li:hover {
    box-shadow: 0 0 10px #9ca0a3;
}

.song-item {
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    position: relative; /* Allows positioning of delete button */
    padding: 10px;
}

/* Song name in the center */
.song-item span {
    flex-grow: 1; /* Makes the song name take up available space */
    text-align: center; /* Centers the song name text */
}

/* Styling for the delete button */
.delete-btn {
    background: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

.delete-btn:hover {
    box-shadow: 0 0 10px #9e6262;
}

#upload-form-start-page {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    transition: box-shadow 0.1s ease;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    left: -350px;
    top: 60px;
    bottom: 0;
    width: 350px;
    color: #fff;
    background-color: #1a1a1ae3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s;
    z-index: 9999;
}

.sidebar-content {
    padding: 20px;
}

/* Close (X) button styles */
.close-btn {
    position: absolute;
    right: 5%;
    top: 10px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#upload-form {
    position: absolute;
    right: 5%;
    bottom: 2%;
    border-radius: 4px;
    padding: 4px;
}

#upload-form:hover {
    background: #ffffff10;
}

#upload-form-start-page:hover {
    box-shadow: 0 0 10px #9ca0a3;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar h3 {
    margin-top: 0;
}

.song-item-sidebar {
    cursor: pointer;
    transition: background 0.1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.song-item-sidebar:hover {
    font-weight: 400;
}

/* Animation to show sidebar */
.sidebar-open {
    left: 0;
}

/* Dot menu styles */
.header-dot-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px;
    right: 5px;
    top: 65px;
    width: 200px;
    color: #fff;
    background-color: #1a1a1ae3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 9999;
}
